<% if @order.errors%>
    <ul>
        <li><%= @order.errors.full_messages %></li>
    </ul>
<% end %>

<p><em>Your order is displayed in the shopping cart to the right.</em></p>

<%= form_with url: '/checkout/', method: :post, id:"payment-form"  do |form| %>
    <fieldset>
    <legend>Contact Information</legend>
    <p>
        <%= form.label :email, "Email" %><br/>
        <%= form.text_field :email, value:"#{current_user.email}" %>
    </p>
    <p>
        <%= form.label :phone_number, "Phone number" %><br/>
        <%= form.text_field :phone_number %>
    </p>
    </fieldset>
    <fieldset>
    <legend>Shipping Address</legend>
    <p>
        <%= form.label :ship_to_first_name, "First name" %><br/>
        <%= form.text_field :ship_to_first_name %>
    </p>
    <p>
        <%= form.label :ship_to_last_name, "Last name" %><br/>
        <%= form.text_field :ship_to_last_name %>
    </p>
    <p>
        <%= form.label :ship_to_address, "Address" %><br/>
        <%= form.text_field :ship_to_address %>
    </p>
    <p>
        <%= form.label :ship_to_city, "City" %><br/>
        <%= form.text_field :ship_to_city %>
    </p>
    <p>
        <%= form.label :ship_to_postal_code, "Postal/Zip code" %><br/>
        <%= form.text_field :ship_to_postal_code %>
    </p>
    <p>
        <%= form.label :ship_to_countrye, "Country" %><br/>
        <%= form.country_select :ship_to_country, priority_countries: ["US","AR","GB", "FR", "DE"] %>
    </p>
    </fieldset>   
        <%= form.number_field :total_price, value:"#{@cart.total}", type:"hidden" %>

    <p><%= form.submit "Place Order", id: "submit" %></p>
<% end %>

<% if @cart %>
    <div id="shopping_cart">
      <div id="results"></div>
        <%= render 'cart/cart'%>
      </div>
<% end %>