<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
        <td><% if book.image.attached? %>
              <%= image_tag book.image, style: "width: 100px; display: inline" %>
            <% end %> 
        </td>
        <td><%= book.title %></td>
        <td><%= link_to 'Show', book %></td>
        <% if current_user.email == "chino@gmail.com"%>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
          <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @books, :container => false %>


<br/>
<% if current_user.email == "chino@gmail.com"%>
  <%= link_to 'New Book', new_book_path %>
<% end %>


<br><br>
<%= link_to "Back", :back %>