<h1> Post </h1>
<ul>
    <li><h2>Title: <%= @post.title%></li></h2>
    <li><h4>Content: <%= @post.content%></h4>
    <% if current_user.email == "chino@gmail.com"%>
        <%= link_to "Edit", edit_post_path(@post)%>|  
        <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this ?" }%>    
    <% end %>
    </li>
    Comments
    <ul>
        <%= render 'comments/comment'%>
    </ul>
    <%= render 'comments/form', locals: {post: @post}%>
    
</ul>
<%= link_to 'Return to Forum', posts_path%>
